/* Definicions de classes utils genèriques */
.desktop { display: flex !important; }
.mobile  { display: flex !important; }
@media only screen and (max-device-width: 599px) { .desktop { display: none !important; } }
@media only screen and (min-device-width: 600px) { .mobile  { display: none !important; } }
.flex       { display: flex; }
.flexRow    { flex-direction: row; 
display: inherit;
}
.flexColumn { flex-direction: column; }
.none       { display: none; }
.halfWidth  { 
    max-width: 800;
    height: 50;
    margin: 30;
    font-size: 30;
    font-family: inherit;
 }
.botoIcona  { cursor: pointer; }

/* Definicions específiques */
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}
body {
    font-family: 'Indie Flower', cursive;
    background-color:gainsboro;
}
body > div {
    display: none;
}


#frontendMenuWeb {
    background-color: white;
    padding: 5px 0;
    font-family: 'Indie Flower', cursive;
    margin-top: -50px;
    opacity: 0.89;
}

#frontendMenuMobil {
background-color: white;
opacity: 0.5;
margin: 0.3;
padding: 1px;
border:1px solid black;


}
.botoMenu {
font-size:25px ;
color: black;
padding: 10px 10px;
display: inline-block;
margin-top:5px;
margin-left: 5px;
margin-right: 100px;
           }
.botoMenu:hover {
   text-decoration-line: underline;
    cursor: pointer;

}
#productesContinguts {
    width: 100%;
}
#popups {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#popups > div {
    border: solid 1px black;
    background-color: white;
    display: none;
    border-radius: 5px;
    align-items: left;
    justify-content: center;
    padding: 10px;
    width: 800px;
    height: 400px;
    font-size: 30px;
    box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.75);
        }
#fototitulo {
 display: flex;
 background-image: url(/web/imatges/cab-tailandia.jpg);
 background-size: cover;
 background-repeat:no-repeat;
 background-position:center center;
 min-height: 400px;
 flex-direction: column;
 justify-content:center ;
 padding-left: 0px;
}
#Icono1 {
display:flex;
position: relative;
width: 60px;
height: 60px;
background-image: url(/web/imatges/icono1.png);
}
#frontendContacte {
    display: none;
    flex-direction: column;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 10px;
}

.social-bar {
    position: fixed;
    right: 0;
    top: 70%;
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: black;
    text-decoration: none;
    padding:0.8rem;
    display: flex;
    transition: all .4s;
    border: black;
}

.icon-facebook2 {
    background: rgb(131, 131, 250);
    border-radius: 1rem 0 0 0;
}

.icon-instagram {
    background: rgb(243, 122, 243);
}

.icon-phone {
    background: rgb(156, 245, 134);
}

.icon-mail {
    background: rgb(233, 107, 107);
    border-radius: 0 0 0 1rem;
}

.icon-twitter {
    background: rgb(126, 236, 236);
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0,);
}

.enlaceSocial {
    text-decoration: none !important;
}
.contenedor {
    margin-top: 10px;
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla {
    width: 50%;
    height: 650px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px black;
    padding: 5px;
    text-align:center;
    flex-grow: 1;
    color: black;
    background-color: azure;

}

.tabla img{
    width: 130px;
    margin-top: 60px ;
    border-style: outset;
    border-color: black;
    background-color: khaki;
    border-radius: 10px;

}
.oferta {
    width: 500px;
    margin-top: 60px ;
    border-style: outset;
    border-color: black;
    background-color: khaki; 
    font-style: inherit;
}
.oferta {
    width: 60%;
    height: 700px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 14px;
    box-shadow: 0px 0px 4px 0px black;
    padding: 5px;
    text-align:center;
    flex-grow: 1;
    color: black;
    background-color: azure;

}
.oferta>h1{
    font-size: 50px;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    }
    
    .oferta>h4{
        font-size: 25px;
        margin-top: 80px;
        }
    
    .oferta:hover{
        background-color:gold;
        color: black;
        transition: 0.2 all;
        transform: scale(1.1);
        cursor: pointer;
    }

#cuentaatras {
border-radius: 15px;
margin-top: 50px;
}

.tabla>h1{
font-size: 50px;
margin-top: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: underline;
}

.tabla>h4{
    font-size: 25px;
    margin-top: 80px;
    }

.tabla:hover{
    background-color:gold;
    color: black;
    transition: 0.2 all;
    transform: scale(1.1);
    cursor: pointer;
}
#frontendPresentacio{
    align-items: center;
    display: none;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-image: url(/web/imatges/fondo.jpg);
    background-size: cover;
}
.taula {
    width: 800px;
    height: 500px;
    font-size: 30;
    text-align: center;
    margin-bottom: 20px;
}

#frontendproductes{
    display: none;
    align-items: center;
    text-align: center;
    margin: 15px;
    flex-direction: column;
    font-size: 30px;
    background-color: gainsboro(218, 165, 32, 0.418);
    flex-wrap: nowrap;
    background-repeat: no-repeat;
    background-size: cover;
}
.producte>img{
    vertical-align: middle;
    height: 500;
    width: 700;
    margin-top: 10;
    border-image: repeat;
    border-radius: 350px;
}

.producte>h3{
    font-family: inherit;
    font-weight: 450;
    margin-top: 20;
    text-decoration: underline;
}

.producte{
    font-size: 25;
    margin-bottom: 10px;
    margin-top: 25px;
    margin: 5px;
    flex-direction: row;
    padding: 50px;
}

.producte:hover{
    background-color: #000000d8;
    color: #ffffff;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: matrix3d(1.1);
    cursor: pointer;
    padding: 15px;
    border: ridge;
    border-radius: 10px;
}

.targeta1 {
    background-color: white;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: 20px;
    flex-direction: column;
    width: 300px;
    height: 300px;
    font-size: 25px;
}

.afegirusuari {
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-left: 700px;
    width: 150;
    height: 65;
    font-size: 23;
    font-family: inherit;
}

.botoIcona:hover{
    background-color: #000000c5;
    color: #ffffff;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: skew(1.1);
    cursor: pointer;
    padding: 10px;
    border: thin;
}

#frontendHome{
    display: flex;
    margin: auto;
    flex-direction: inherit;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

#backofficeUsuarisLoading{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}



